html, body {
  height: 100%;
  width: 100%;
}

.contain{
  height:175%;
  width:100%;
  background-image: linear-gradient(180deg, rgb(231, 221, 166), white);
}

.contain1{
  height:175%;
  width:100%;
  background-image: linear-gradient(180deg, rgb(189, 231, 166), white);
}

.contain2{
  height:175%;
  width:100%;
  background-image: linear-gradient(180deg, rgb(192, 166, 231), white);
}

.contain3{
  height:175%;
  width:100%;
  background-image: linear-gradient(180deg, rgb(231, 179, 166), white);
}

.navBar{
  width:100%;
  height:15%;
  margin:auto;
  display:flex;
  align-items:center;
  font-family:"Courier New";
  color:black;
}

h1 {
  font-family:papyrus;
}

nav ul li{
  display:inline-block;
  list-style:none;
  margin:0px 20px;
}

nav ul li a{
  text-decoration:none;
  color:#000000;
}

.content {
  margin-left:10%;
} 

.content p{
  font-size:20px;
  color:#2f6393;
  font-family:Garamond;
}

.profile {
  height: 60%;
  margin-right:-8%;
  position: absolute;
  right: 180px;
  border-style:groove;
  border-color:black;
  border-width:5px;
}

btn a{
 text-decoration:none; 
}

.btn a{
  text-decoration:none;
  color:black;
}

.btn {
  display: inline-block;
  background: linear-gradient(45deg, #012f46, #00aaff);
  border-radius:6px;
  padding:10px 20px;
  box-sizing:border-box;
  text-decoration:none;
  color:white;
  margin-left:15%;  
}

.content .ins{
  display: inline-block;
  background: linear-gradient(45deg, #ff0000, #600101);
  border-radius:6px;
  padding:10px 20px;
  box-sizing:border-box;
  text-decoration:none;
  color:white;
  margin-left:42%;  
}

.social a{
  transform: rotate(-90deg);
  text-decoration: none;
  color:blue;
}
/*
.content1{
  align: center;
} */

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/*
.content1 .open {
  display: inline-block;
  background: linear-gradient(45deg, #193701, #2c8b09);
  border-radius:6px;
  padding:10px 20px;
  box-sizing:border-box;
  text-decoration:none;
  color:white;
  margin-left:0%;  
}

.content1 .move {
  display: inline-block;
  background: linear-gradient(45deg, #193701, #2c8b09);
  border-radius:6px;
  padding:10px 20px;
  box-sizing:border-box;
  text-decoration:none;
  color:white;
  margin-left:8%;  
}
*/

.content1 p{
 color: #2f6393;
font-size: 18px;
font-family: garamond;
}

.content2 p{
  color: #2f6393;
font-size: 18px;
font-family: garamond;
}

.content3 p{
  color: #2f6393;
font-size: 18px;
font-family: garamond;
}

/*
.content2 .bad {
  display: inline-block;
  background: linear-gradient(45deg, #002433, #076ab6);
  border-radius:6px;
  padding:10px 20px;
  box-sizing:border-box;
  text-decoration:none;
  color:white;
  margin-left:3%;  
}

.content2 .how {
  display: inline-block;
  background: linear-gradient(45deg, #002433, #076ab6);
  border-radius:6px;
  padding:10px 20px;
  box-sizing:border-box;
  text-decoration:none;
  color:white;
  margin-left:8%;  
}

.content2 .mint{
  height: 35%;
  width: 35%;
  margin-left:2.5%;
  border-style:groove;
  border-color:black;
  border-width:5px;
}
*/

h6 {
  margin-left:1%
}